In [1]:
fname = input ('isikan nama awal:')
mname = input ('isikan nama tegah:')
iname = input ('isikan nama akhir')

print ('selamat datang',fname,mname,iname)

isikan nama awal:asep
isikan nama tegah:sakd
isikan nama akhirasf
selamat datang asep sakd asf

In [7]:
bil1= input('ISIKAN NAMA BILANGAN 1:')
bil2= input('ISIKAN NAMA BILANGAN 2:')
print(type(bil1))
hasil=int(bil1)+int(bil2)
print('hasil pemjumlahan',hasil)

ISIKAN NAMA BILANGAN 1:4
ISIKAN NAMA BILANGAN 2:8
<class 'str'>
hasil pemjumlahan 12

In [8]:
class Rectangle:
    def __init__(self, width, height):
        self.width = width
        self.height = height
    
    def area(self):
        return self.width * self.height
    
    def perimeter(self):
        return 2 * (self.width + self.height)

# Example usage:
rectangle = Rectangle(5, 10)
print("Area:", rectangle.area())
print("Perimeter:", rectangle.perimeter())

Area: 50
Perimeter: 30

In [14]:
p=input('isikan panjang persegi:')
L=input('isikan lebar persegi:')

Luas=int(p) *int (L)
keliling = 2* (int(p) + int(L))

print('Luas persegi panjang',Luas)
print('keliling persegi panjang',keliling)

isikan panjang persegi:80
isikan lebar persegi:110
Luas persegi panjang 8800
keliling persegi panjang 380

In [15]:
import datetime

# Mendapatkan tanggal saat ini
now = datetime.datetime.now()

# Menghitung jumlah hari yang diperlukan untuk mencapai minggu
days_to_week = (7 - now.weekday()) % 7

# Mengiterasi hingga minggu
for i in range(days_to_week):
    # Menghitung tanggal untuk setiap hari
    day = now + datetime.timedelta(days=i)
    
    # Mencetak nama hari
    print(day.strftime("%A"))

Wednesday
Thursday
Friday
Saturday
Sunday

In [17]:
bilangan1 = 7
bilangan2 = 10
hasil_perkalian = bilangan1 * bilangan2
print("Hasil perkalian bilangan 7 dan 10 adalah:", hasil_perkalian)

Hasil perkalian bilangan 7 dan 10 adalah: 70

In [21]:
frist_name="Zildan"
middle_name="Surya"
last_name="Permana"
print("urutan huruf {}{}{}".format (frist_name,middle_name,last_name))

urutan huruf ZildanSuryaPermana

In [27]:
#sekarang tanggal 20 bulan maret tahun 2024
print ("sekarang tanggal {tanggal} bulan {bulan} dan {tahun})".
       format(tanggal =20,bulan="maret",tahun=2024))

sekarang tanggal 20 bulan maret dan 2024)

In [30]:
kampus = "Universitas Nusa Putra"
print ("huruf pertama adalah" ,kampus[0])
print ("hurup terakhir adalah" ,kampus[-1])
print ("huruf range 0-10",kampus [0:11])
print (kampus[-5:])
print (kampus[12:])
#reverse string
print(kampus[::-1])

huruf pertama adalah U
hurup terakhir adalah a
huruf range 0-10 Universitas
Putra
Nusa Putra
artuP asuN satisrevinU

In [31]:
#split => string -> list
kota= "jakarta sukabumi malang bandung bali paris impeldown"
list_kota =kota.split()
print(list_kota)
print(list_kota[0])
#join => list -> string
join_kota ="@".join(list_kota)
print(join_kota)

['jakarta', 'sukabumi', 'malang', 'bandung', 'bali', 'paris', 'impeldown']
jakarta
jakarta@sukabumi@malang@bandung@bali@paris@impeldown

In [47]:
#isikan nama anda : 
#isikan tanggal lahir anda :
#output :
#nama awal :
#nama akhir :
#tanggal lahir :
#bulan lahir :
#tahun lahir :
#nama inisial :

nama = input("isikan nama anda:")
tanggal = input("isikan tanggal lahir:")

list_nama = nama.split()
print("nama awal :" , list_nama[0])
print("nama akhir :" , list_nama[1])

list_tanggal = tgl.split()
print("hari:", list_tgl[0])
print("bulan:", list_tgl[1])
print("tahun:", list_tgl[2])

inisial = list_name[0][0] + list_name[1][0]

print("Name isinial:", inisial)

isikan nama anda:ZILDAN SURYA PERMANA
isikan tanggal lahir:15 SEPTEMBER 2005
nama awal : ZILDAN
nama akhir : SURYA

NameError: name 'tgl' is not defined